 
body{
    background-color: rgb(112, 114, 115);
}
 
 
 .pai{
  
    background-color: chartreuse;
    width: 360px;
    height: 500px;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    box-shadow: 0 20px 0 0 black;
}
.pai p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;

}
P:hover{
color: rgb(201, 211, 211);
}
 input{
  margin-left: 90px;
 justify-content: center;
 border-top-left-radius:  10px;
border-top-right-radius: 10px;
}
#resultado{
    text-align: center;
    margin-left:79px ;
    width: 200px;
    height: 40px;
  background-color: aliceblue;
  border-top-left-radius:  10px;
  border-top-right-radius: 10px;
  border: 2px solid black;

}
.buttom{
    display: flex;
justify-content: center;
font-family: Georgia, 'Times New Roman', Times, serif;



}
.lado{
    margin-left: 15px;

}
.lad{
    margin-right: 15px;
}
.ludi{
    margin-left: 15px;
}